<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= current_page.data.title || "VainGlory API Documentation" %></title>
<meta name="description" content="Welcome to the Community Preview of the Vainglory Developer API!" />

<link href="https://fonts.googleapis.com/css?family=Anton|Inconsolata:400,700|Roboto:100,300,400,500,700,900" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="http://jd3sljkvzi-flywheel.netdna-ssl.com/wp-content/themes/vainglory/images/favicon.ico">

<style><%= Rouge::Themes::Base16::Monokai.render(:scope => '.highlight') %></style>
