---
layout: layout
---

<div class="masthead-container">
	<header class="masthead" data-sticky-container><!-- main navigation -->
    <nav data-sticky data-options="marginTop:0;" style="width:100%">
    	<div class="top-bar" id="top-menu">
    		<div class="top-bar-left">
    			<ul class="menu">
    				<li class="logo menu-text">
    					<span>VainGlory Developer Portal</span>
    				</li>
    			</ul>
    		</div>
    		<div class="top-bar-right">
    			<ul class="menu">
    				<li><a href="http://www.vainglorygame.com" class="external">Vainglory Website</a></li>
    			</ul>
    		</div>
    	</div>
    </nav>
  </header>
</div>

<div class="hero-container">
	<section class="hero"><div class="callout">
  <h1>Developer Preview</h1>
  <p>The world of Vainglory at your fingertips. Start building your fan website today using realtime data.</p>

  <a class="button" data-open="signupForm">Get API Updates</a>
</div>
</section>
</div>

<section class="features row">
	<div class="left"><div class="feature">
  <h2>Discover Possibilities</h2>
  <p>Visit the forum to discuss the uses of the developer portal for the community.</p>
  <a href="http://forums.vainglorygame.com/index.php?threads/114405/" target="top" class="button">Visit the Forums</a>
</div>
</div>
	<div class="center"><div class="feature">
  <h2>Build the Roadmap</h2>
  <p>The future belongs to you! Help us build the key features of the tool by telling us what you want!</p>
  <a href="https://trello.com/b/3J3rN95m/vainglory-api-roadmap" target="top" class="button">Help Shape the Tool</a>
</div>
</div>
	<div class="right"><div class="feature">
  <h2>Preview the Portal</h2>
  <p>See the type of information you can use to build your own Vainglory Data-Driven Website.</p>



    <a href="docs" class="button">See the API</a>
</div>
</div>
</section>


<div class="reveal" id="signupForm" data-reveal>
	<form id="form11" name="form11" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://madglory.wufoo.com/forms/zrxtl1013uumtz/#public">
		<header id="header" class="info">
			<h3>Stay Updated on the Gamelocker API</h3>
		</header>
		<ul>
			<li id="foli1" class="notranslate">
				<label class="desc" id="title1" for="Field1">
          Email<span id="req_1" class="req">*</span>
        </label>
				<div>
					<input id="Field1" name="Field1" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="1" required="required" />
				</div>
			</li>

			<li id="foli5" class="notranslate">
        <label class="desc" id="title5" for="Field5">
          What are you building?
        </label>
        <div>
					<textarea id="Field5" name="Field5" class="field textarea medium" spellcheck="true" rows="3" cols="50" tabindex="3" onkeyup=""></textarea>
				</div>
			</li>
			<li class="buttons ">
				<div>
					<input id="saveForm" name="saveForm" class="button" type="submit" value="Submit" />
        </div>
			</li>

			<li class="hide">
				<label for="comment">Do Not Fill This Out</label>
				<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
				<input type="hidden" id="idstamp" name="idstamp" value="WX5F+/Mx/mvZAkIe1t+s9GbgP8hHqxvBp9ObNq2WKa8=" />
			</li>
		</ul>
	</form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<footer class="footer">
	<div class="row">
	  <div class="small-12 columns text-center">
	    <p class="copyright">
	      &copy;2016 Super Evil Megacorp. All rights reserved. Apple and Apple logo are trademarks of Apple Inc., registered in the US and other countries. Apple is a service mark of Apple Inc. Android™ is a trademark of Google Inc. Google Play™ is a trademark of Google Inc.
	    </p>
	    <div class="links">
	          <a href="" class="active">Home</a>
	          <a href="docs/" class="active">API Documentation(Preview)</a>
	      <a href="" class="disabled">SDKs (COMING SOON!)</a>
	    </div>
	  </div>
	</div>
</footer>
